<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
    <body>
        <ul>
            <li><a href="{% url 'core:index' %}">Inicio</a></li>
            <li><a href="{% url 'core:cadastro' %}">cadastro</a></li>
        </ul>
        <ul>
            {% load static %}
            {% if list_of_aps %}
                {% for ap in list_of_aps %}
                    <li><a href="{% url 'core:detail' pk=ap.pk %}">{{ ap.numero }}</a></li>
                {% endfor %}
            {% else %}
                No polls are available.
            {% endif %}
        </ul>
    </body>
</html>